body {
  background-image: url("../libraries/sharon-mccutcheon-ouRjPLWGbPc-unsplash.jpg");
  margin:0;
  margin-left:45px;
  padding:0;
  overflow: hidden;
  /*background: rgb(190,190,190);*/
  text-align: center;
  height: 100%;
}
canvas {
  margin:auto;
}

#defaultCanvas0 {
  background-color: #FFFFFF;
  display:table;
  margin: auto;
  box-shadow: 10px 10px 10px #333333;
  vertical-align: middle;
}